.home-hero {
  min-height: 96vh;
  background-image: url("../img/wave.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-slogan {
  font-family: "Courier New", Courier, monospace;
  font-size: 64px;
  font-weight: bold;
}

.home-content {
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  background-color: lightcyan;
  color: #222;
  text-align: center;
}

.home-content p {
  line-height: 1.6;
}

.home-footer {
  background-color: lightcyan;
  color: #222;
  text-align: left;
  padding: 40px;
}
